.navbar {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  content: url("/logo/logo_black.ico");
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background: #0a0a0a;
  }

  .logo {
    content: url("/logo/logo_white.ico");
  }
}