.page {
  --gray-rgb: 0, 0, 0;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;

  align-items: center;
  justify-items: center;
  min-height: 30svh;
  font-family: var(--font-geist-sans);
}